extends layout

block content
  .loading-content#loading
    .loading-title
      .loading-circle 
      span loading...
      p.loading-p1 其实没加载那么久
      p.loading-p2 只是想让你们
      p.loading-p3 多看看骚骚
    .loading-msg(data-prop="errorMsg") 


