doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/app.min.css')
    meta(id="Viewport", name="viewport" content="width=750, user-scalable=no")
  body
    block content

    script(src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js')
    script(src='/javascripts/bundle.js')