doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/app.min.css')
    meta(id="Viewport", name="viewport" content="width=750, user-scalable=no")
  body
    block content

    script(src='/javascripts/bundle.js')