/*
 * 系统通用css
 */
i, em {font-style:normal;}
ul {list-style:none; padding:0; margin:0;}
mark {background:none;}

*,*:before,*:after{box-sizing: border-box;}
*{
	-webkit-tap-highlight-color:transparent;
	user-select:none;
}


html{
	width:100%;height:100%; padding-top:1px;background:#fff;
}
body{ 
	font-size:30px;width:100%;height:100%;  position:relative;
	
}
body,input, textarea{font-family:"Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif; color:@baseColor2;letter-spacing: 0.05em;}
input,textarea, select{-webkit-appearance: none; user-select: text;}
header{
	height:0; width:100%;position:fixed;top:0;left:0;z-index:9;display:none;
	text-align:center;
	font-size:1.4em; line-height:100px;
	transition: opacity @transTime, transform @transTime;
}
section{
	width:100%;height:100%;display:table;position:relative;display:none;overflow:hidden;transition:opacity @transTime, transform @transTime; transform: translate(0,0);
	.container{
		background:@baseBg;transition:opacity @transTime,  transform @transTime; transform: translate(0,0);display:table-cell; padding: 76px 36px 100px;
		color:#999;
		&.no-padding{
			padding:0;
		}
		&.dark-bg{
			padding-left:0; padding-right:0; /*background:#232c34;*/ background:#ccc;
		}
	} 
}